.wrapper{
	margin: auto;
	width: 80%;
	border: dashed 1px red;
}

.main-content__title {
	font-family: 'PT Serif', serif;
	color: #000000;
	font-size: 50px;
}

.menu{
	display: flex;
	align-items: center;
}

.menu__item{
	font-family: 'Roboto', sans-serif;
	padding: 0 13px;
	color: #000000;
	border: dashed 1px red;
	font-size: 11px;
}

.logo, .menu{
	border: dashed 1px red;
}

.logo{
	font-family: 'PT Serif', serif;
	color: #000000;
	font-size: 24px;
	margin-right: 63%;
	padding: 40px 0;
}

.header{
	display: flex;
	justify-content: space-between; 
}

.main-section{
	border: dashed 1px red;
}

.menu__item:last-child{
	padding-right: 0;
}

.main-content__subtitle, .main-content__button{
	font-family: 'Roboto', sans-serif;
	color: #000000;
	padding: 0 13px;
}

.main-content__subtitle{
	font-size: 22px;
	line-height: 26px;

}

.main-content__button{
	color: #FFFFFF;
	font-weight: 500;
	line-height: 21px;
	font-size: 18px;
	border-radius: 4px;
}